head(prefix="og: http://ogp.me/ns# nodejsexpressdemo: http://ogp.me/ns/apps/nodejsexpressdemo#")
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title= pkg.name + ' - ' + title
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=pkg.keywords.join(","))
  meta(name="description", content=pkg.description)

  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  - each path, id in lib.js
    script(type='text/javascript', id=id, src=path)

  - each path, id in lib.coffeescript
    script(type='text/coffeescript', id=id, src=path)

  - each path in lib.css
    link(rel='stylesheet', href=path)

