extends ../../express-seed/views/layouts/base


block head

  //- for r_main in head.js.require_main
  //  script(data-main=r_main, src=head.js.requirejs)
  script(id="requirejs", data-main=head.js.r_main, src=head.js.requirejs)

block wrap_epilogue
  // start after page #wrap and container and create window-wide chrome for
  // doc viewer 

  form
    .form-group
      label.col-md-1 Path
      div.col-md-8
        input.form-control(name='docpath', value=docpath)
    .form-group
      label.col-md-1 Format
      .col-md-2
        select.form-control(name='format')
          option(value="html") HTML
          option(value="pseudoxml") Pseudo XML (plain text)
          option(value="source") Source (reStructuredText)
          option(value="xml") XML

  iframe#viewer.form-control

block footer

  p.text-muted.credit.small Express MVC - Project - Documents


