extends ../../express-seed/views/layouts/base

block content

    .container
      .row

        .col-md-2

        .col-md-10
          h1 Current Project
          if current.pkg
            table
              tr
                th Name
                td= current.pkg.name
              tr
                th Version
                td= current.pkg.version
              tr
                th License
                td= current.pkg.license
          else
            span Not an NPM project

    - for name in documents
      p
        a(href="/project/document?docpath="+name)= name

    .container
      .row

        .col-md-2

        .col-md-10
          h1 Projects

      .row
        .col-md-10
          div.container
            ul
              - each project in projects
                li
                  span= project

        .col-md-2

